.card{

    width: 600px;
    height: 177px;

    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.vacCard{

    width: 400px;
    height: 200px;

    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}
